body {
    font-family: Arial, sans-serif;
    background-color: #191919;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    margin-bottom: 20px;
    text-align: center;
}

.tittle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: 2px solid #444;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

h1 {
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

h4 {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 2px solid #444;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.tab-button:hover {
    background-color: #555;
    border-color: #777;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.tab-button:active {
    background-color: #222;
    border-color: #444;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}

.tab-content {
    display: none;
    text-align: center;
}



.active {
    display: block;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cotizaciones-usd, #cotizaciones-ars, #dolar-blue, #dolar-cripto, #favoritas-list {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

.delete-favorite svg {
    width: 24px;
    height: 24px;
    color: #191919;
    fill: none;
    stroke: currentColor;
}

.delete-favorite:hover svg {
    color: rgb(255, 0, 0); /* Cambia de color al pasar el mouse */
}

.cotizacion-item {
    width: 500px;
    display: flex;
    justify-content: space-between; /* Espacio entre el texto y el switch */
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.cotizacion-item span {
    flex: 1; /* Ocupa el espacio disponible */
    text-align: center; /* Centra el texto */
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 20px; /* Espacio entre el texto y el switch */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

#convertidor {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center;
    width: 100%;
}

#convertidor label {
    font-size: 1.2rem; /* Tamaño de fuente del label */
    display: block;
    margin-bottom: 2px;
}

.convertform {
    width: 50%; /* Ajusta el ancho de los inputs y selects */
    height: 60px;
    font-size: 1rem; /* Tamaño del texto */
    margin-bottom: 15px; /* Espacio entre inputs */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    text-align: center;
}

#convertir {
    width: 50%; /* Hace que el botón ocupe el mismo ancho que los inputs */
    padding: 10px 20px; /* Reduce el espacio dentro del botón */
    font-size: 1rem; /* Reduce el tamaño de fuente del botón */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    margin-top: 15px; /* Espacio entre el botón y el input anterior */
}

#convertir:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que el contenido interno esté centrado verticalmente */
    text-align: center;
    width: 50%; /* Ancho del contenedor */
    font-size: 1.8rem; /* Tamaño del texto */
    margin: 20px auto; /* Asegura que el elemento esté centrado horizontalmente */
    border: 1px solid #ccc; /* Borde */
    background-color: white;
    color: black;
    padding: 10px; /* Añadir un poco de espacio interno */
}

.curso-item {
    width: 50%;
    background-color: #2c2c2c; /* Fondo gris */
    padding: 10px;
    margin: 10px auto; /* Centrado horizontal */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
   font-size: 1.3em;
}
.curso-precio {
    width: 50%;
    padding: 15px;
    border-radius: 5px;
    background-color: #2c2c2c; /* Fondo gris claro */
    margin: 5px auto; /* Centrado horizontal */
    text-align: center;
}

/* Para garantizar el centrado de todo el contenido de la sección */
#curso-precios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curso-precio {
    margin-bottom: 2px; /* Reducir el espacio entre los precios */
    font-size: 16px; /* Aumentar un poco el tamaño del texto */
    padding: 5px 0; /* Reducir el padding */
}


#curso-precios {
    border: 2px solid #444;
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.curso-precio {
    border: 2px solid #444;
    
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 100%;
    width: 100%;
}

#curso-precios h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

#curso-precios p {
    margin: 5px 0;
    font-size: 16px;
    color: white;
    text-align: center;
    max-width: 100%;
    width: 100%;
}